@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

#content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.500) 35%, rgba(41, 41, 41, 0.500) 100%), url(../assets/background.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 200px;
    z-index: 1;
}

.logo {

    height: 300px;
    width: 300px;
    margin-right: 1000px;
}

.menuOptions {
    display: flex;
    width: 500px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: #29292965;
    border-radius: 10px;
    position: absolute;
}

.option {
    font-family: "Exo 2";
    font-weight: 900;
    font-style: italic;
    color: #F5F5F5;
    font-size: 28px;
    text-decoration: none;
    width: 45%;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    z-index: 1;

}

.option:hover {
    background-color: #EB6C29;
}

.logout {
    transition: all .5s ease-out;
    cursor: pointer;
}

.logout:active {
    transform: scale(.9);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 87vh;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 38%;
    margin-left: 10%;
    color: #F5F5F5;
    font-family: "Exo 2";
}

.mainStat {
    display: flex;
    justify-content: space-between;
    background-color: #292929cc;
    width: 100%;
    height: 80px;
    align-items: center;
    font-size: 30px;
    border-radius: 20px;
}

.statsTitle {
    margin-left: 30px;
    font-weight: 600;
}

.stat {
    margin-right: 30px;
    color: #EB6C29;
    font-weight: 900;
}

.hitPercentage {
    display: flex;
    flex-direction: column;
    background-color: #292929cc;
    align-items: center;
    height: 300px;
    border-radius: 20px;
}

.chart {
    height: 380px;
    width: 400px;
    margin-top: -13%;
}

.smTitle {
    color: #F5F5F5;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}

.rankingContainer {
    height: 80%;
    width: 40%;
    background-color: #292929cc;
    margin-right: 10%;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.title {
    color: #F5F5F5;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 40px;
}

.btnFollow {
    height: 40px;
    width: 170px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #EB6C29;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.btnFollow:active {
    transform: scale(.9);
}

.btnFollow:hover {
    background-color: #c54e0ee1;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    overflow-y: auto;
    height: 62%;
    scrollbar-color: #EB6C29 #ffffffe1;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overscroll-behavior: smooth;
}

.follow {
    width: 150px;
    margin-left: 20px;
    margin-bottom: 2px;
    border: solid 2px #EB6C29;
    background-color: #F5F5F5;
    color: #292929cc;
    border-radius: 10px;
    font-family: "Exo 2";
    font-weight: 700;
    text-transform: uppercase;
    transition: all .6s ease-in-out;
}
.following {
    background-color: #EB6C29;
    color: #f5f5f5;
  }


.follow:active{
    transform: scale(.9);
}

.player {
    border-bottom: #F5F5F5 3px solid;
    width: 80%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
}

.positionPlayer {
    display: flex;
    width: 100%;
}

.position {
    margin-right: 10px;
}

.points {
    color: #EB6C29;
}