@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #292929;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #F5A153;
    border-radius: 30px;
}

.images {
    box-shadow: #F5A153 -5px 7px 10px;
    width: 400px;
}

#Inicio {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.500) 35%, rgba(41, 41, 41, 0.500) 100%), url(../assets/background.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    height: 90px;

    align-items: center;
    padding-top: 20px;
    z-index: 10;

    transition: all .6s ease-in-out;
}

.nav-list {
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: -100px;
}

.navbar.active {
    background-color: #ffffff3e;
    box-shadow: #292929 0 2px 20px;
}

.navbar.active .nav-links {
    color: #292929;
}

.navbar.active .nav-links::after {
    background-color: #F5A153;
}



.logo {

    height: 100px;
    width: 100px;
}

.nav-links {
    text-decoration: none;
    color: #fff;

    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .4s ease-in-out;
    align-items: center;
}

.nav-links::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #fff;
    bottom: -8px;

    transition: all .4s ease-in-out;
}

.nav-links:hover,
.navbar.active .nav-links:hover {
    color: #F5A153;
}

.nav-links:hover::after {
    background-color: #F5A153;
}

.presentation {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 80%;
    justify-content: center;
    padding-left: 150px;
}

.Welcome {
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0;
}

.text {
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 24px;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.mainButton {
    background: linear-gradient(0.40turn, #ff7b00, #F5A153);
    height: 60px;
    width: 250px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 23px;
    box-shadow: #48220d 0 5px 15px 0;
    animation: up-down 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.mainButton::before {
    content: "Saiba Mais!";
    position: absolute;
    display: flex;

    background: linear-gradient(0.40turn, #F5A153 ,#ff7b00);
    transition: all .4s ease-in-out;

    height: 60px;
    width: 250px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 23px;
    box-shadow: #48220d 0 5px 15px 0;

    align-items: center;
    justify-content: center;
}

.mainButton:hover::before {
    opacity: 0;
}

#Historia {
    width: 100%;
    padding-top: 100px;

}

.content {
    padding: 0px 150px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.textDiv{
    width: 60%;
}
.Title {
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 44px;
    color: #292929;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #F5A153;
    bottom: -6px;
    border-radius: 20px;

}

.capitulo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.mainText {
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 22px;
    color: #292929;
    text-align: justify;
}

.red {
    color: #F5A153;
}

.green {
    color: #51b58d;
}

.white {
    color: #fff;
}

.brasil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
   
}
.peleText{
    width: 60%;
}
.pele {

    height:100%;
    box-shadow: #F5A153 -3px 4px 10px;
}

.cruyff {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #143C62 50%, #0c2135 100%);
    height: 100vh;
    padding-top: 30px;
}
.feminino{
    height: 50vh;
    padding-top: 80px;
}
.johanText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.johan {
    height:90%;
}

.btn {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;

}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: transparent;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.spanBtn {
    position: relative;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.4s ease-in-out;
   }


.navbar.active .svg{
    stroke: #FFF;
}

 .btn:hover:before {
    width: 100%;
    background-color:  #F5A153;
}

.btn:hover svg {
    transform: translateX(0);
}

.btn:active {
    transform: scale(0.95);
}
#Clubes{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    }
.aboutClub{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    transition: all .4s ease-in-out;
   
}
.clubDescription{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.clubName{
    font-family: "Exo 2";
    font-size: 90px;
    font-weight: 900;
    color: #ffb800;
    margin-bottom: 20px;
}
.clubeImage{
    height:80%;
}
.clubStats{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    margin-bottom: 3%;
    transition: all .4s ease-in-out;
}
.statDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: #F5F5F5;
    z-index: 1;
    margin: 15px;
    border-radius: 8px;
    border: #E79118 6px solid;
}
.stat{
    font-family: "Exo 2";
    font-size: 30px;
    font-weight: 900;
    margin-left: 30px;
    color: #292929;
}
.qtdTitulos{
    color: #E79118;
    font-size: 40px;
}
.btnClube{
    background-color: #292929;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 40px;
    margin: 20px;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    z-index: 2;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.clubFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 20%;
}
#Lendas{
    width: 100%;
   height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: flex-end;
  
}

.infoContainer{
 display: flex;
 justify-content: space-around;
 width: 100%;
 height: 80%;
 align-items: flex-start;

}

.overview{
    width: 500px;
   }

.description{
    width: 450px;
}
.playerSvg{
    position: absolute;
    z-index: 1;
    padding-right: 100px;
    transition: all .4s ease-in-out;

}

.namePlayer{
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 64px;
    font-style: normal; 
    margin: 0;
    width: 50px;
}
.NumberPosition{
    display: flex;
    align-items: flex-end;
    
}
.number{
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 74px;
    margin-bottom: -8px;
}
.position{
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 40px;
    font-style: italic;
     text-transform: uppercase;
}

.infoFooter{
    position:absolute;
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.statsContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.stats{
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 5px solid;
    border-radius: 20px;
    margin: 40px 25px;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.statsText{
     margin-right: 5px;
}

.btnPlayer{
    background-color: #292929;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 40px;
    margin: 10px;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    z-index: 2;
    transition: all .4s ease-in-out;
    cursor: pointer;
}


.btnPlayer:active{
    transform: scale(0.9);
}

#quiz{
    background-color: #292929;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

 
}
.header{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.btnQuiz{
    width: 300px;
    height: 64px;
    background-color: #F5A153;
    border-radius: 10px;
    border:none;
    color: #fff;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 34px;
    font-style: italic;
    text-shadow: #0c2135 0 2px 6px;
    box-shadow: #091928 4px 6px 10px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
.btnQuiz:active{
    transform: scale(.97);
}
.descQuiz{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    background-color: #303030;
    border-radius: 40px;
    box-shadow: #404040 0 6px 10px;
}
.align{
    width: 80%;
}
#dev{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #292929;
}
.devPhoto{
    width: 340px;
    height: 340px;
    border-radius: 300px;
    border:#F5A153 6px solid;
    box-shadow: #f49c4b 0 2px 10px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    margin-left: 6%;
    width: 50%;

}

.thin{
    font-weight: 500;
}

.footer{
    width: 100%;
    height: 150px;
    background-color: #292929;
    border-top: #404040 2px solid;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLogo{
    width: 120px;
    height: 120px;
}
.info{
    color: #fff;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 14px;
}