@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff762c;
    border-radius: 30px;
}

.images {
    border: 5px solid #292929;
    border-radius: 30px;
    box-shadow: #292929 -5px 7px 10px;
    width: 400px;
}

#Inicio {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.500) 35%, rgba(41, 41, 41, 0.500) 100%), url(../assets/background.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    height: 105px;

    align-items: center;
    padding-top: 10px;
    z-index: 1;

    transition: all .6s ease-in-out;
}

.nav-list {
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: -100px;
}

.navbar.active {
    background-color: #ffffffdb;
    box-shadow: #292929 0 2px 20px;
}

.navbar.active .nav-links {
    color: #292929;
}

.navbar.active .nav-links::after {
    background-color: #E96A27;
}



.logo {

    height: 80px;
    width: 80px;
}

.nav-links {
    text-decoration: none;
    color: #fff;

    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .4s ease-in-out;
    align-items: center;
}

.nav-links::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #fff;
    bottom: -8px;

    transition: all .4s ease-in-out;
}

.nav-links:hover,
.navbar.active .nav-links:hover {
    color: #E96A27;
}

.nav-links:hover::after {
    background-color: #E96A27;
}

.presentation {
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 80%;
    justify-content: center;
    padding-left: 150px;
}

.Welcome {
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0;
}

.text {
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 24px;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

@keyframes up-down {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.mainButton {
    background: linear-gradient(0.40turn, #8F2626, #E96A27);
    height: 60px;
    width: 250px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 23px;
    box-shadow: #48220d 0 5px 15px 0;
    animation: up-down 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.mainButton::before {
    content: "Saiba Mais!";
    position: absolute;
    display: flex;

    background: linear-gradient(0.40turn, #E96A27, #8F2626);
    transition: all .4s ease-in-out;

    height: 60px;
    width: 250px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 23px;
    box-shadow: #48220d 0 5px 15px 0;

    align-items: center;
    justify-content: center;
}

.mainButton:hover::before {
    opacity: 0;
}

#Historia {
    width: 100%;
    padding-top: 100px;
}

.content {
    padding: 0px 150px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.Title {
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 44px;
    color: #292929;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #c00000;
    bottom: -6px;
    border-radius: 20px;

}

.capitulo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.mainText {
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 20px;
    color: #292929;
}

.red {
    color: #c00000;
}

.green {
    color: #51b58d;
}

.white {
    color: #fff;
}

.brasil {
    background: linear-gradient(180deg, #fff 1%, #ffd100 100%);
    height: 100%;
    padding-bottom: 60px;
}

.pele {
    height: 300px;
}

.cruyff {
    background: linear-gradient(180deg, #00529F 50%, #A2214B 80%);
    padding-top: 30px;
}

.johan {
    height: 500px;
   
}

.btn {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;

}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: transparent;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.spanBtn {
    position: relative;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.4s ease-in-out;
   }

.navbar.active .spanBtn{
    color: #404040;
}
.navbar.active .svg{
    stroke: #404040;
}

 .btn:hover:before {
    width: 100%;
    background-color:  #ff7429ac;
}

.btn:hover svg {
    transform: translateX(0);
}

.btn:active {
    transform: scale(0.95);
}

#Lendas{
    width: 100%;
   height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: flex-end;
  
}

.infoContainer{
 display: flex;
 justify-content: space-around;
 width: 100%;
 height: 80%;
 align-items: flex-start;

}

.overview{
    width: 500px;
   }

.description{
    width: 450px;
}
.playerSvg{
    position: absolute;
    z-index: 1;
    padding-right: 100px;
    transition: all .4s ease-in-out;

}

.namePlayer{
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 64px;
    font-style: normal; 
    margin: 0;
   
}
.NumberPosition{
    display: flex;
    align-items: flex-end;
    
}
.number{
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 74px;
    margin-bottom: -8px;
}
.position{
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 40px;
    font-style: italic;
     text-transform: uppercase;
}

.infoFooter{
    position:absolute;
    width: 100%;
    height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.statsContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.stats{
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 5px solid;
    border-radius: 20px;
    margin: 40px 25px;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.statsText{
    color: #ffd100;
    margin-right: 5px;
}

.btnPlayer{
    background-color: #292929;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 40px;
    margin: 10px;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    z-index: 2;
    transition: all .4s ease-in-out;
    cursor: pointer;
}


.btnPlayer:active{
    transform: scale(0.9);
}

